.score_container {
  height: 200px;
  width: 100px;
  padding: 20px;
  text-align: center;
  border: 2px solid black;
}

.cards_container {
  display: flex;
  justify-content: center;
}

.score {
  font-size: 50px;
  line-height: 180px;
  height: 180px;
}
